
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<table class="table table-bordered">
    <tr>
        <td>
            Exam
        </td>
        <td>
            Result
        </td>
        <td>
            Institution
        </td>
    </tr>
    <tr>
        <td>
            SSC
        </td>
        <td>
            5.00
        </td>
        <td>
            MGBHS
        </td>
    </tr>
    <tr>
        <td>
            HSC
        </td>
        <td>
            5.00
        </td>
        <td>
            Dhaka City College
        </td>
    </tr>
    <tr>
        <td>
            BSc
        </td>
        <td>
            3.5
        </td>
        <td>
            AIUB
        </td>
    </tr>
</table>

