
@{
    ViewBag.Title = "PersonalInfo";
}

<h2>PersonalInfo</h2>

<table class="table table-bordered">
    <tr>
        <td>
            Name
        </td>
        <td>
            A
        </td>
    </tr>
    <tr>
        <td>
            Father Name
        </td>
        <td>
            B
        </td>
    </tr>
    <tr>
        <td>
            Mother Name
        </td>
        <td>
            C
        </td>
    </tr>
    <tr>
        <td>
            Age
        </td>
        <td>
            23
        </td>
    </tr>
</table>
