
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div>
    <h4>Cattle Feed Management System</h4>
    A sytem buid for maintaining  a large cattle farm. 
</div>

<div>
    <h4>Virtual Currency Exchange System</h4>
    A sytem buid for buying and selling virtual currency.
</div>

