<center>

    <div>
        <h1><u>Site Overview</u></h1>
    </div><br><br><br>


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2><b><p class="text-info">Total traffic</p></b></h2></h5>
                    <p class="card-text"><h3>50</h3></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2><b><p class="text-info">Total Users</p></b></h2></h5>
                    <p class="card-text"><h3>15</h3></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2><b><p class="text-info">Sales Value</p></b></h2></h5>
                    <p class="card-text"><h3>25700</h3></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2><b><p class="text-info">Total Orders</p></b></h2></h5>
                    <p class="card-text"><h3>12</h3></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2><b><p class="text-info">Admins</p></b></h2></h5>
                    <p class="card-text"><h3>4</h3></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2><b><p class="text-info">Restaurant Owners</p></b></h2></h5>
                    <p class="card-text"><h3>7</h3></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2><b><p class="text-info">Customers</p></b></h2></h5>
                    <p class="card-text"><h3>10</h3></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><h2><b><p class="text-info">Delivery Agents</p></b></h2></h5>
                    <p class="card-text"><h3>5</h3></p>
                </div>
            </div>
        </div>
    </div>
</center>