 <form method="post" id="create-account_form" class="std ng-pristine ng-valid" ng-submit="submit()">
        <fieldset>
            <h3>Create your account</h3>
            <div class="form_content clearfix">
                
                <p class="text">
                    <label for="email_create">Name</label>
                    <span>
                        <input placeholder="Name" type="text" id="email_create" name="email_create" value="" class="account_input">
                    </span>
                </p>
                <p class="text">
                    <label for="email_create">E-mail</label>
                    <span>
                        <input placeholder="E-mail" type="text" id="email_create" name="email_create" value="" class="account_input">
                    </span>
                </p>
                
                <p class="text">
                    <label for="email_create">Contact</label>
                    <span>
                        <input placeholder="Contact" type="text" id="email_create" name="email_create" value="" class="account_input">
                    </span>
                </p>
                <p class="text">
                    <label for="email_create">Password</label>
                    <span>
                        <input placeholder="Password" type="text" id="email_create" name="email_create" value="" class="account_input">
                    </span>
                </p>
                <p class="text">
                    <label for="email_create">Location</label>
                    <span>
                        <input placeholder="Location" type="text" id="email_create" name="email_create" value="" class="account_input">
                    </span>
                </p>
                <p class="submit">
                    <button class="btn btn-primary">Create Your Account</button>
                </p>
                
            </div>
        </fieldset>
    </form>
      <form action="" method="post" id="login_form" class="std ng-pristine ng-valid" ng-submit="submit()">
        <fieldset>
            <h3>Already registered?</h3>
            <div class="form_content clearfix">
                <p class="text">
                <label for="email">E-mail address</label>
                    <span><input placeholder="E-mail address" type="text" id="email" name="email" value="" class="account_input" ng-model="title" required></span>
                </p>
                <p class="text">
                <label for="passwd">Password</label>
                    <span><input placeholder="Password" type="password" id="passwd" name="passwd" value="" class="account_input" ng-model="body" required ></span>
                </p>
                <p class="lost_password">
                    <a href="#popab-password-reset" class="popab-password-link">Forgot your password?</a>
                </p>
                <p class="submit">
                    <button class="btn btn-success">Log in</button>
                </p>
            </div>
        </fieldset>
    </form>
