<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="products-heading">
                    <h2>NEW PRODUCTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div>	<!-- End of /.col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-2.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div> <!-- End Of Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-3.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div> <!-- End Of /.Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-4.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div> 
            
            
                <div class="products-heading">
                    <h2>NEW PRODUCTS</h2>
                </div>
            
            
            <!-- End Of /.Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-5.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div> <!-- End Of /.Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-6.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div> <!-- End Of /.Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-7.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div> <!-- End Of /.Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-8.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <div>
                        <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                    </div>
                </div>	<!-- End of /.products -->
            </div> 
            
            
            <div class="products-heading">
                <h2>NEW PRODUCTS</h2>
            </div>
            
            <!-- End Of /.Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-5.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div> <!-- End Of /.Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-6.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div> <!-- End Of /.Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-7.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                </div>	<!-- End of /.products -->
            </div> <!-- End Of /.Col-md-3 -->
            <div class="col-md-3">
                <div class="products">
                    <a href="single-product.html">
                        <img src="content/images/product-image-8.jpg" alt="">
                    </a>
                    <a href="single-product.html">
                        <h4>Amazing Italian Sauces</h4>
                    </a>
                    <p class="price">From: £69.99</p>
                    <div>
                        <a class="view-link shutter" href="#">
                        <i class="fa fa-plus-circle"></i>Add To Cart</a>
                    </div>
                </div>	<!-- End of /.products -->
            </div> 
            
            <!-- End Of /.Col-md-3 -->
        </div>	<!-- End of /.row -->
    </div>	<!-- End of /.container -->
</section>








