<div class="col-md-3">
    <div class="blog-sidebar">
        <!-- <div class="block">
            <h4>Catagories</h4>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <i class="fa  fa-dot-circle-o"></i>
                    Italian Foods
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa  fa-dot-circle-o"></i>
                    Traditional Food
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa  fa-dot-circle-o"></i>
                    Indian Food
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa  fa-dot-circle-o"></i>
                    Spanish Food
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa  fa-dot-circle-o"></i>
                    Thai FoodN
                </a>
            </div>
        </div>	End of /.block -->
        <div class="block" >
            <h4>Popular Posts</h4>
            <ul class="media-list" style="overflow-y: auto; height: 400px;">
                 <li class="media" ng-repeat="p in posts" >
                    <a class="pull-left" href="#">
                          <img class="media-object" src="content/images/post-img.png" alt="...">
                    </a>
                    <div class="media-body">
                          <a href="#!posts/{{p.id}}" class="media-heading">
                              {{p.title}}</a>
                          <p>January 10,2014</p>
                    </div>
                  </li>	
            </ul>	
        </div>
    </div>
</div>
      
        	

       