<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-9 clearfix">
                <ul class="blog-zone">
                    <li>
                        <div class="blog-icon">
                            <i class="fa  fa-pencil"></i>
                        </div>
                        <div class="blog-box">
                            <img src="content/images/blog-1.jpg" alt="">
                            
                            <div class="blog-post-body clearfix">
                                <a href="">
                                    <h2>{{post.title}}</h2>
                                </a>
                                <div class="blog-post-tag">
                                    <div class="block">
                                        <i class="fa fa-clock-o"></i>
                                        <p>12 Jan,2014</p>
                                    </div>
                                    <div class="block">
                                        <i class="fa fa-user"></i>
                                        <p>Admin</p>
                                    </div>
                                    <div class="block">
                                        <i class="fa fa-tags"></i>
                                        <p>
                                            <a href="">Food Culture</a>,
                                            <a href="">Green Items</a>
                                        </p>
                                    </div>
                                    <div class="block">
                                        <i class="fa fa-comments"></i>
                                        <p>3 Comments</p>
                                    </div>
                                </div>
                                <p>
                                {{post.body}}
                            </p>
                            </div>
                        </div>
                    </li>
                </ul>	<!-- End of /.blog-zone -->

                <div class="author-id">
                    <div class="media">
                        <h5>About The Author</h5>
                          <img class="media-object pull-left" src="content/images/author.jpg" alt="...">
                          <div class="media-body">
                            <h6 class="media-heading">John Mark</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, sequi quibusdam voluptate perferendis veniam eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, veritatis.</p>
                        </div>	<!-- End of /.media-body -->
                    </div>	<!-- End of /.media -->
                </div>	<!-- End of /.author-id -->

                <div class="comments-box">
                    <h5>3 REPSONSES</h5>
                    <div class="media">
                          <img class="media-object pull-left" src="content/images/author.jpg" alt="...">
                          <div class="media-body">
                            <h6 class="media-heading">John Mark <span>12 February 2013 at 2:05 am</span> <a href="" class="pull-right">(reply)</a></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, sequi quibusdam voluptate perferendis veniam eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, veritatis.</p>
                        </div>	<!-- End of /.meida-body -->
                    </div>	<!-- End of /.media -->
                    
                    
                    <!-- reply -->
                    <div class="media reply">
                          <img class="media-object pull-left" src="content/images/author.jpg" alt="...">
                          <div class="media-body">
                            <h6 class="media-heading">John Mark <span>12 February 2013 at 2:05 am</span> <a href="" class="pull-right">(reply)</a></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, sequi quibusdam voluptate perferendis </p>
                        </div>
                    </div>
                    

                    <!-- reply -->
                    <div class="media reply">
                          <img class="media-object pull-left" src="content/images/author.jpg" alt="...">
                          <div class="media-body">
                            <h6 class="media-heading">John Mark <span>12 February 2013 at 2:05 am</span> <a href="" class="pull-right">(reply)</a></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, sequi quibusdam voluptate perferendis </p>
                        </div>
                    </div>

                    
                    <!-- media -->
                    <div class="media">
                          <img class="media-object pull-left" src="content/images/author.jpg" alt="...">
                          <div class="media-body">
                            <h6 class="media-heading">John Mark <span>12 February 2013 at 2:05 am</span> <a href="" class="pull-right">(reply)</a></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, sequi quibusdam voluptate perferendis veniam eveniet! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, veritatis.</p>
                        </div>	<!-- End of /.media-body -->
                    </div>	<!-- End of /.media -->

                    <!-- reply -->
                    <div class="media reply">
                          <img class="media-object pull-left" src="content/images/author.jpg" alt="...">
                          <div class="media-body">
                            <h6 class="media-heading">John Mark <span>12 February 2013 at 2:05 am</span> <a href="" class="pull-right">(reply)</a></h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, sequi quibusdam voluptate perferendis </p>
                        </div>	<!-- End of /.media body -->
                    </div>	<!-- End of /.media-reply -->
                </div>	<!-- End of /.comments-box -->
                
                <div class="leave-comment">
                    <h5>LEAVE A COMMENT</h5>
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputname" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputname" placeholder="Name">
                            </div>
                          </div>	<!-- End of /.form-group -->
                          <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                  <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                          </div>	<!-- End of /.form-group -->
                          <div class="form-group">
                            <label for="inputwebsite" class="col-sm-2 control-label">Website</label>
                            <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputwebsite" placeholder="Website">
                            </div>
                          </div>	<!-- End of /.form-group -->
                          <div class="form-group">
                            <label for="inputmessage" class="col-sm-2 control-label">Message</label>
                            <div class="col-sm-10">
                                  <textarea class="form-control" id="inputmessage" rows="3"></textarea>
                            </div>
                          </div>	<!-- End of /.form-group -->
                              
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                  <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                          </div>	<!-- End of /.form-group -->
                    </form>	<!-- End of /.form-horizontal -->
                </div>	<!-- End of /.leave comments -->
            </div>	<!-- End of /.col-md-9 -->

            <div class="col-md-3">
                <div class="blog-sidebar">
                    <div class="block">
                        <h4>Catagories</h4>
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Italian Foods
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Traditional Food
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Indian Food
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Spanish Food
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa  fa-dot-circle-o"></i>
                                Thai FoodN
                            </a>
                        </div>
                    </div>	<!-- End of /.block -->
                    <div class="block">
                        <h4>Popular Posts</h4>
                        <ul class="media-list">
                             <li class="media" ng-repeat="p in posts">
                                <a class="pull-left" href="#">
                                      <img class="media-object" src="content/images/post-img.png" alt="...">
                                </a>
                                <div class="media-body">
                                      <a href="" class="media-heading">
                                          {{post.title}}</a>
                                      <p>January 10,2014</p>
                                </div>
                              </li>
                             
                          </ul>
                    </div>	<!-- End of /.block -->

                    <div class="block">
                        <h4>Tag Cloud</h4>
                        <div class="tag-link">
                            <a href="">BALLET</a>
                            <a href="">BLOG</a>
                            <a href="">CHRISTMAS</a>
                            <a href="">ELEGANCE</a>
                            <a href="">ELEGANT</a>
                            <a href="">SHOPPING</a>
                            <a href="">SHOP</a>
                            <a href="">PHOTOGRAPHY</a>
                        </div>	
                    </div>	<!-- End of /.block -->
                    
                </div>	<!-- End of /.Sidebar -->
            </div>	<!-- End of /.col-md-3 -->
        </div>	<!-- End of /.row -->
    </div>	<!-- End of /.container -->
</section>