<section id="catagorie">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-heading">
                        <h2>OUR FOOD CATEGORIES</h2>
                    </div>	
                    <div class="row">
                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="catagotie-head" href="blog-single.html">
                                    <img src="content/images/category-image-1.jpg" alt="...">
                                    <h3>Fast Food</h3>
                                </a>
                                  <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam...</p>
                                    <p>
                                        <a href="blog-single.html" class="btn btn-default btn-transparent" role="button">
                                            <span>Check Items</span>
                                        </a>
                                    </p>
                                  </div>	<!-- End of /.caption -->
                            </div>	<!-- End of /.thumbnail -->
                          </div>	<!-- End of /.col-sm-6 col-md-4 -->
                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="catagotie-head" href="blog-single.html">
                                    <img src="content/images/category-image-2.jpg" alt="...">
                                    <h3>Chineese</h3>
                                </a>
                                  <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam...</p>
                                    <p>
                                        <a href="blog-single.html" class="btn btn-default btn-transparent" role="button">
                                            <span>Check Items</span>
                                        </a>
                                    </p>
                                  </div>	<!-- End of /.caption -->
                            </div>	<!-- End of /.thumbnail -->
                          </div>	<!-- End of /.col-sm-6 col-md-4 -->
                          <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <a class="catagotie-head" href="blog-single.html">
                                    <img src="content/images/category-image-3.jpg" alt="...">
                                    <h3>Deshi Food</h3>
                                </a>
                                  <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aut, esse, laborum placeat id illo a expedita aperiam...</p>
                                    <p>
                                        <a href="blog-single.html" class="btn btn-default btn-transparent" role="button">
                                            <span>Check Items</span>
                                        </a>
                                    </p>
                                </div>	<!-- End of /.caption -->
                            </div>	<!-- End of /.thumbnail -->
                          </div>	<!-- End of /.col-sm-6 col-md-4 -->
                    </div>	<!-- End of /.row -->
                </div>	<!-- End of /.block --> 
            </div>	<!-- End of /.col-md-12 -->
        </div>	<!-- End of /.row -->
    </div>	<!-- End of /.container -->
</section>